.rafal, .novak, .okgi, .badeni, .jolanta, .draka, .albert {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
}
.img{ 
    height:250px; 
    border-style:inset; 
    border-width:8px 5px 8px 5px; 
 }
 p{
    font-size:25px;
    font-family:Microsoft JhengHei;
 }
 #bigtopic{
    font-size:80px;
    font-family:serif;
    text-align:center;
    margin-top:200px;
    margin-bottom:250px;
    
 }
 #topic{
    margin-top:190px;
    margin-bottom:-200px;
    margin-left:-250px;
 }
 h3{
    font-size:30px;
    font-family:serif;
    text-align:center;
 }
 .url{
    font-size:30px;
    font-family:serif;
    text-align: center;
 }
h2{
    font-size:40px;
    font-family:serif;
    text-align: center;
}
.summary{
    margin-top:250px;
    margin-bottom:250px;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
}
#bgtp{
    font-size:130px;
    font-family:serif;
    text-align:center;
    margin-top:-300px;
    margin-bottom:250px;
    opacity: 0.5;
    color:rgb(2, 4, 41);
}
body{
   background-image:url("0.png");
   background-repeat: repeat;
   background-size: cover;
}